* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container{
    border: 2px solid black;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    width: 1570px;
    height: 96vh;
}

.header p{
    text-align: center;
    border: 2px solid black;
    border: none;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 45px;
    color: white;
    text-shadow: 0 0 5px rgb(51, 50, 50);
    font-size: 20px;
    font-family: monospace;
    animation-name: slideup;
    animation-duration: 2s;
}

.header p::first-letter{
    color: rgb(135, 250, 225);
}

.header p:hover{
    text-shadow: 0 0 5px black;
    transition: 0.5s;
    font-size: 50px;
}


.container .header{
    border: 2px solid green;
    border: none;
    width: 1450px;
    margin-left: 50px;
    margin-top: 10px;
    height: 100px;
}

.header .nav{
    position: fixed;
    border: 2px solid rgb(0, 41, 128);
    border: none;
    width: 1350px;
    margin-left: 40px;
    margin-top: 0px;
    height: 50px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(240, 47%, 85%, 0.5);
    padding: 0px;
    margin: 0px; 
}

.navbar a{
    color: white;
    text-shadow: 0 0 5px black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    animation-name: slideright;
    animation-duration: 2s;
    font-family: monospace;
}

.navbar a:hover{
    /* box-shadow: 0 0 10px rgb(47, 144, 235);
    border: 2px solid rgb(250, 200, 208); */
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
    text-shadow: 2px 2px 4px rgb(250, 200, 208);
}

.navbar li {
    float: right;
    overflow: hidden;  
}

i{
    padding: 5px;
}

.logo {
    float: left;         
    width: 50px;         
    height: auto;        
    margin-right: 20px;  
    border-radius: 5px;
    opacity: 0.5;
    animation-name: slideright;
    animation-duration: 2s;
}

.logo:hover{
    box-shadow: 0 0 15px lightblue;
    opacity: 1;
    transition: 0.5s;
}

.cover{
    margin-top: 30px;
    margin-left: 40px;
    width: 95%;
    height: 85%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding-top: 3px;
    background-image: linear-gradient(to bottom, #9becf4, #ace8ff, #cae1ff, #e8dbff, #fdd7f0);
    border-radius: 10px;
    color: rgb(20, 70, 136);
    /* text-shadow: 0 0 5px black; */
    animation-name: slideright;
    animation-duration: 2s;
}

.cover p{
    margin-top: 20px;
    animation-name: slideright;
    animation-duration: 2s;
}

.cover:hover{
    background-image: linear-gradient(to top, #9becf4, #ace8ff, #cae1ff, #e8dbff, #fdd7f0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alb{
    width: 200px;
    padding: 0px;
    margin: 3px;
    box-shadow: 0 0 5px black;
    animation-name: slideright;
    animation-duration: 0.5s;
}

.alb:hover{
    width: 210px;
    transition: 0.5s;
    animation-name: grow;
    animation-duration: 3s;
}

.singles{
    border: 1px solid black;
    border: none;
    width: 60%;
    margin-left: 20%;
}

.sng{
    width: 100px;
    margin: 1px;
    box-shadow: 0 0 5px black;
    animation-name: slideright;
    animation-duration: 2s;
}

.sng:hover{
    width: 105px;
    animation-name: grow1;
    animation-duration: 1s;
}


/* @keyframes rotate{
    100%{transform: rotateZ(360deg)}
} */

@keyframes grow{
    100%{transform: scale(2, 2)}
}

@keyframes grow1{
    100%{transform: scale(2, 2)}
}

@keyframes slideup{
    from{transform: translateY(300%)}
}

@keyframes slideright{
    from{transform: translateX(300%)}
}

@keyframes slideleft{
    to{transform: translateX(300%);}
}

@keyframes slidedown{
    to{transform: translateY(300%);}
}